# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

# other stuff
*~
*.aux
*.log
*.toc
*.synctex.gz
*concordance.tex
*.bbl
*.blg
*.idx
*.notes

# tex/Rnw

*.bk
*.ind
*.ilg
*.tex
Stat241*.pdf
cache/
figures/
figure/
